{% extends 'base.html.twig' %}

{% block title %}Confirmation de Réservation{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-5">Confirmation de Réservation</h1>
        <p>Merci pour votre réservation, {{ user.firstName }} {{ user.lastName }} !</p>

        <h3>Détails de la réservation</h3>
        <ul class="list-group">
            <li class="list-group-item"><strong>Service :</strong> {{ service.name }}</li>
            <li class="list-group-item"><strong>Date :</strong> {{ booking.startTime|date('d/m/Y') }}</li>
            <li class="list-group-item"><strong>Créneau :</strong> {{ booking.startTime|date('H:i') }} - {{ booking.endTime|date('H:i') }}</li>
        </ul>

        <a href="{{ path('app_home') }}" class="btn btn-primary mt-4">Retour à l'accueil</a>
    </div>
{% endblock %}
